.title{
    text-align: center;
    font-size: 70px;
    color: #3fc5ac;
}

.all{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
    }
    
    
    .photo_1{
    height: 500px;
    width: 500px;
    margin-bottom: 100px;
    }
    
    .photo_2{
        height: 500px;
    width: 500px;
    margin-bottom: 100px;
    }
    
    .photo_3{
        height: 500px;
    width: 500px;
    margin-bottom: 100px;
    }
    
    .photo_4{
        height: 500px;
    width: 500px;
    margin-bottom: 100px;
    }
    
    .photo_5{
        height: 500px;
    width: 500px;
    margin-bottom: 100px;
    }
    
    .photo_6{
        height: 500px;
    width: 500px;
    margin-bottom: 40px;
    }
    

    .photo_1::after{
    content: "grfgm";
margin:  100px 100px 100px 100px;
    }

    .name{
        font-size: 30px;
        color:#fff ;
    }

    .name:hover{
content: "";
color:#3fc5ac ;

    }
    