:root {
  --red: #ff4e50;
  --orange: #ffa507;
  --green: #1cd7ad;
  --blue: #4e73db;
  --white: #ffffff;
  --red-gradien: rgba(255,255,224, 0.4);
  --yellow-gradient:rgba(255, 165, 7, 0.5);
  --montserrat: 'Montserrat', sans-serif;
  --roboto: 'Roboto', sans-serif;

}